/*
=================================
===== Default Global styles =====
=================================
*/
/*
==================================
===== Base Responsive Styles =====
================================== 
*/
@media (min-width: 1200px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 479px) {
  
}
