/*
Theme Name: Diamond - Bedrock Child Theme
Author: Justin Hedani
Description: Finding diamonds take some skill. Reap your rewards...
License: GNU General Public License
License URI: license.txt
Template: bedrock
Version: 1.1

Usage Notes:
Please read the documentation on how to use this child theme (README.md)
No CSS should be placed in this file.

*/

